.card {
  background-color: lightgrey;
  min-height: 100px;
  border-radius: 8px;
  margin: 5px;
  padding: 20px 20px 10px 20px;
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  transition: all 0.2s ease-in-out;
  a {
    color: black !important;
  }
}

.border-primary {
  border: 2px solid $c-2;
  border-radius: 8px;
}

// .card:hover {
//   transform: translate(0px, -10px);

//   -webkit-filter: drop-shadow(5x 5x 3px rgba(0, 0, 0, 0.7));
//   filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.7));
// }

.gallery {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  .gallery-item {
    // display
    flex: 1;
    display: flex;
    justify-content: center;

    // border
    box-sizing: border-box;
    border-radius: 8px;
    border: 5px solid $c-2;
    // background-color: $c-5;
    height: 400px;
    padding: 35px;

    .gallery-header {
      text-align: right;
      color: $c-0;
      font-weight: 500;
      margin-bottom: 0;
      padding-bottom: 0;
    }
    .gallery-header-sub {
      text-align: right;
      color: $c-0;
      font-weight: 500;
      margin-top: 0;
      padding-top: 0;
    }
    .gallery-description {
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;

      opacity: 0;
      padding: 20px;
    }
    .gallery-webstack {
      position: absolute;
      margin: auto;
      bottom: 0;
      left: 0;

      opacity: 0;
      padding: 20px;
    }
    .gallery-link {
      opacity: 0;
      padding-top: 20px;
    }
    .button-gallery {
      border: 1px solid $c-0;
      background-color: transparent;
      color: white;
      border-radius: 3px;
      padding: 4px;
      transition: all 0.1s ease-in-out;
    }
    .button-gallery:hover {
      background-color: #eeeeee;
      color: $c-1;
      transform: scale(1.1);
    }
  }
}

.gallery-item:hover {
  transition: 0.15s ease-in;
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  box-shadow: 0 10px 20px 10px rgba(black, 0.2);
  .gallery-header {
    transition: 0.2s ease;
    transform: translate(0px, -10px);
    opacity: 0;
  }
  .gallery-header-sub {
    transition: 0.2s ease;
    transform: translate(0px, -10px);
    opacity: 0;
  }
  .gallery-description {
    transition: 0.3s ease;
    opacity: 1;
    color: $c-0;
  }
  .gallery-webstack {
    transition: 0.3s ease;
    opacity: 1;
    color: $c-0;
  }
  .gallery-link {
    transition: 0.3s ease;
    opacity: 1;
  }
}

.blog-card-container {
  // margin: 20px;
}

.blog-card {
  margin: 30px auto;
  max-width: 1200px;
  background-color: $c-2;
  color: $c-5;
  padding: 40px;
  border: 4px solid $c-1;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  .blog-card-title {
    color: $c-header;
    transition: 300ms;
    // text-decoration-color: $c-5;
    text-decoration: none;
    margin-bottom: 0;
  }
  // .blog-card-title:hover {
  //   transition: 300ms;
  //   text-decoration: underline;
  // }
  .blog-card-date {
    color: $c-5;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .button-blog {
    border: 1px solid $c-0;
    background-color: transparent;
    color: white;
    border-radius: 3px;
    padding: 4px;
    transition: all 0.1s ease-in-out;
  }
  .button-blog:hover {
    background-color: #eeeeee;
    color: $c-2;
  }
}

.link-normalize {
  text-decoration: none;
}
