.center-text{
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  margin: 10px;
}

@media screen and (min-width: 1200px) {
  .column {
    flex: 1
  }

  .double-column {
    flex: 2
  }
}