@import 'colors';
@import 'font-size';

html {
  font-family: Arial, Helvetica, sans-serif;
}


// Home page

.page-home{
   height: 100vh;
   position: relative;          
   background-color: $c-3;  
   overflow-y: hidden;
}

.image-wrapper-home {
  width:100%;
  max-width: 1000px;
  height: auto;
  margin: auto;
  position: absolute;  
  
  left: 50%;                       
  top: 50%;                         
  transform: translate(-50%, -50%); 
  opacity: .8;
}

@media only screen and (min-width: 900px) {
  .image-wrapper-home{  padding-top: 60px;}
}

.image-wrapper-home-card{
  color: $c-4;
  background-color:$c-2;
  margin: auto;
  min-width: 70%;
  height: auto;
  position: absolute;  
  left: 50%;                       
  top: 50%;                         
  transform: translate(-50%, -50%); 
  padding: 10px;
  text-align: center;
  border-radius: 9px;
  opacity: .92;
   .page-home-link{
    margin: 10px;
    padding: 10px;
    color: $c-0;
  }
}

.image-wrapper-home-card-text{
  color: $c-4;
  background-color:$c-2;
  padding: 10px;
  border-radius: 9px;
  opacity: 1;
 
}
