@import 'colors';
@import 'font-size';
@import 'flex';
@import 'containers';
//variables
$page-padding: 50px;

html {
  font-family: Arial, Helvetica, sans-serif;
  color: $c-1;

}
.page{
  // padding: $page-padding;
  // background-color: $c-3;  
  min-height: 100vh;
}

.flex-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// Page - Home
.image-wrapper{
  width: 330px;
}

.page-1{
 background-color: $c-0;
 height: 80vh;

}

.page-2{
  background-color: $c-2;
  height: 80vh;
}