@import 'colors';
@import 'font-size';
@import 'flex';
@import 'containers';
//variables
$page-padding: 50px;

html {
  font-family: Arial, Helvetica, sans-serif;

}
.page{
  padding: $page-padding;
  background-color: $c-3;  
  min-height: 100vh;
}

.flex-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

// Page - Home
.image-wrapper{
  width: 400px;
}